Hotels.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="https://chris-vasquez28.github.io/cse445_a4/Hotels.xsd"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Hotels </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Address" type="AddressType" minOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="required"/>
		<xsd:attribute name="Number" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Street" type="xsd:string"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="State" type="xsd:string"/>
			<xsd:element name="Zip" type="xsd:string"/>
			<xsd:element name="NearestAirport" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
