Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tempuri.org/Hotels.xsd"
            targetNamespace="http://tempuri.org/Hotels.xsd"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			XML Schema for Hotels directory
		</xsd:documentation>
	</xsd:annotation>

	<!-- Root element -->
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Definition for each Hotel -->
	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Address" type="AddressType" minOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="required"/>
		<xsd:attribute name="Number" type="xsd:integer" use="optional"/>
	</xsd:complexType>

	<!-- Address type -->
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Street" type="xsd:string" minOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1"/>
			<xsd:element name="State" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Zip" type="xsd:string" minOccurs="1"/>
			<xsd:element name="NearestAirport" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Phone number format -->
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
